<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>机器信息</title>
	<link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.5.3/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.5.3/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.5.3/demo/demo.css">
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>
    <!--展示表格-->
	<h2>服务器列表</h2>
	<div style="margin:20px 0;"></div>

	<table class="easyui-datagrid biankuang" title="服务器信息" style="width:832px;height:500px">
		<thead>
			<tr>
                <th data-options="field:'itemid',width:30,align:'center'">选择</th>
				<th data-options="field:'productid',width:300,align:'center'">Hostname</th>
				<th data-options="field:'listprice',width:300,align:'center'">IP</th>
				<th data-options="field:'unitcost',width:50,align:'center'">Port</th>
				<th data-options="field:'attr1',width:150,align:'center'">Business</th>
			</tr>
		</thead>
        <tbody>
            {% for row in hosts_info %}
            <tr>
                <td data-options="field:'itemid',width:30,align:'center'"><input type="radio" name="radio" value="{{ row.id }}"/></td>
                <td data-options="field:'productid',width:200,align:'center'">{{ row.hostname }}</td>
				<td data-options="field:'listprice',width:200,align:'center'">{{ row.ip }}</td>
				<td data-options="field:'unitcost',width:100,align:'center'">{{ row.port }}</td>
				<td data-options="field:'attr1',width:150,align:'center'">{{ row.business.caption }}</td>
			</tr>
            {% endfor %}
        </tbody>
	</table>
    <!--展示表格end-->
    <!--新增和修改按钮-->
    <div style="padding:5px 0;">
        <a id="add_host" class="easyui-linkbutton" data-options="iconCls:'icon-add'">Add</a>
        <a id="edit_host" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">Edit</a><span style="color: red;" id="alert1"></span>
    </div>
    <!--新增和修改按钮end-->
    <!--第一层蒙板-->
    <div class="one hide"></div>
    <!--第一层蒙板end-->
    <!--新增功能的模态对话框-->
    <div class="two hide">
        <div class="easyui-panel" title="添加主机信息" style="width:400px">
            <div style="padding:10px 60px 20px 60px">
            <form id="ff" name="ff1" method="post" action="hosts">
                <table cellpadding="5">
                    <tr>
                        <td>Hostname:</td>
                        <td><input class="easyui-textbox newtext" type="text" name="hostname" ></input></td>
                        <td><span id="span1" style="color: red;width:10px;"></span></td>
                    </tr>
                    <tr>
                        <td>IP:</td>
                        <td><input class="easyui-textbox newtext" type="text" name="ip"></input></td>
                    </tr>
                    <tr>
                        <td>Port:</td>
                        <td><input class="easyui-textbox newtext" type="text" name="port"></input></td>
                    </tr>
                    <tr>
                        <td>Caption:</td>
                        <td>
                            <select  name="bid">
                                {% for row in caption %}
                                <option value="{{ row.id }}">{{ row.caption }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" id="submit1" class="easyui-linkbutton">Submit</a>
                <a href="javascript:void(0)" id="clear" class="easyui-linkbutton">Clear</a>
            </div>
            </div>
        </div>
    </div>
    <!--新增功能的模态对话框end-->
    <!--修改功能的模态对话框-->
    <div class="three hide">
        <div class="easyui-panel" title="修改主机信息" style="width:400px">
            <div style="padding:10px 60px 20px 60px">
            <form id="dd" name="dd1" method="post" action="hosts">
                <table cellpadding="5">
                    <tr>
                        <td>Hostname:</td>
                        <td><input class="easyui-textbox newtext" type="text" id="hostname1" name="hostname1"></input></td>
                        <td><span id="span1" style="color: red;width:10px;"></span></td>
                    </tr>
                    <tr>
                        <td>IP:</td>
                        <td><input class="easyui-textbox newtext" type="text" id="ip1" name="ip1"></input></td>
                    </tr>
                    <tr>
                        <td>Port:</td>
                        <td><input class="easyui-textbox newtext" type="text" id="port1" name="port1"></input></td>
                    </tr>
                    <tr>
                        <td>Caption:</td>
                        <td>
                            <select  id="bid1" name="bid1">
                                {% for row in caption %}
                                <option value="{{ row.id }}">{{ row.caption }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" id="submit2" class="easyui-linkbutton">Submit</a>
                <a href="javascript:void(0)" id="clear1" class="easyui-linkbutton">Clear</a>
            </div>
            </div>
        </div>
    </div>
    <!--修改功能的模态对话框end-->
    <!--js-->
	<script type="text/javascript" src="../static/jquery-easyui-1.5.3/jquery.min.js"></script>
	<script type="text/javascript" src="../static/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
    <script>
        $(function () {
            $('#add_host').click(function () {
                $('.one,.two').toggleClass('hide');
            });

            $('#edit_host').click(function () {
                $('#alert1').text('');
                flag = 0
                $(':radio').each(function () {
                    if ($(this).prop('checked')) {
                        flag = 1
                        if(flag==1) {
                            $('.one,.three').toggleClass('hide');
                        }
                        var bid = $(this).parent().parent().parent().firstChild
                        console.log(bid)

                        $('#hostname1').siblings().text($(this).parent().parent().siblings().find('div')[0].innerText)
                        $('#ip1').siblings().text($(this).parent().parent().siblings().find('div')[1].innerText)
                        $('#port1').siblings().text($(this).parent().parent().siblings().find('div')[2].innerText)

                    }
                })
                if(flag==0){
                        $('#alert1').text('未选择机器')
                    }

            });

            $('#submit1').click(function () {
                $.ajax({
                    url:$('#ff').attr('action'),
                    type:'POST',
                    data:$('#ff').serialize(),
                    success:function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status) {
                            location.reload();
                        }else {
                            $('td #span1').text(obj.error)
                        }
                    }
                });
            })

            $('#clear').click(function () {
                $('.one,.two').toggleClass('hide');
            });
            $('#clear1').click(function () {
                $('.one,.three').toggleClass('hide');
            });
        })
    </script>
    <!--js end-->

</body>
</html>